<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Shop</title>
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/main.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet">
</head>
<body class="page">

<div class="page__header">
    <div class="header-container wrapper">
        <img class="container__logo" src="img/the_shop_logo.svg" width="104px" height="18px">
        <img class="container__oggetto-logo" width="50px" height="50px" src="img/oggetto_logo.svg">
        <span class="container__contact">+7 (812)-2-12-85-06</span>
    </div>

</div>

<div class="page__menu">
    <div class="menu-container wrapper">
        <div class="menu-container__categories">
            <div class="categories-menu">
                <% const menu = [{title: 'LISP', active: true},
                    {title: 'OCaml', active: false},
                    {title: 'Java Script', active: false},
                    {title: 'Python', active: false},
                    {title: 'PHP', active: false}] %>
                <% menu.forEach(function(item) { %>
                <a href="#"
                   class="categories-menu__item <% if(item.active) { %> categories-menu__item_active <% } %>"><%= item.title %></a>
                <% }); %>
            </div>
        </div>


        <div class="menu-container__search">
            <form class="search">
                <input type="search" class="search__input" placeholder="">
                <input type="submit" class="search__button" value="">

            </form>
        </div>
    </div>


</div>

<div class="page__hidden">
    <div class="hidden-menu-phone">
        <input type="checkbox" id="hmt" class="hidden-menu-ticker">
        <label class="btn-menu" for="hmt"> <span class="first"></span> <span class="second"></span> <span
                    class="third"></span> </label>
        <ul class="hidden-menu">
            <% const mobile_Menu = [{title: 'LISP', active: true},
                {title: 'OCaml', active: false},
                {title: 'Java Script', active: false},
                {title: 'Python', active: false},
                {title: 'PHP', active: false}] %>
            <% mobile_Menu.forEach(function (item) { %>
            <li>
                <a href="#"
                   class="hidden-menu__item <% if(item.active) { %> hidden-menu__item_active <% } %>">
                    <%= item.title %></a>
            </li>
            <% }); %>
        </ul>
    </div>
</div>

<div class="page__breadcrumbs wrapper">


    <div class="breadcrumbs">
        <% const breadcrumbs = ['LISP', 'Одежда', 'Футболки'] %>
        <% breadcrumbs.forEach(function(item, index) { %>
            <% if(index < (breadcrumbs.length - 1)) { %>
                <a href="#" class="breadcrumbs__item"><%= item %></a>/
            <% } else { %>
                <p class="breadcrumbs__item breadcrumbs__item_active"> <%= item %> </p>
            <% } %>
            <% }); %>
    </div>
</div>


<div class="page__product wrapper">
    <div class="product">
        <div class="product__media">
            <div class="product-box">
                <img class="product-box__product-img" src="img/tshirts/tshirt_white.jpg">
            </div>
        </div>
        <div class="product__shop wrapper">
            <div class="about-product">
                <div class="about-product__name">
                    <div class="product-name">
                        <p class="product-name__brand">Футболка Alien technology</p>
                    </div>
                </div>
                <div class="about-product__description">
                    <div class="description">
                        <p class="description__product-consist">Состав: 100% хлопок, динамическая типизация, польская
                            нотация.
                            Производство: Россия.</p>
                    </div>
                </div>
                <div class="about-product__price">
                    <div class="product-price">
                        <p class="product-price__regular">1500₽</p>
                    </div>
                </div>
                <form class="form-product" id="form-product">
                    <div class="product-option">
                        <p class="product-option__heading">Размер</p>
                        <div class="product-option__content product-option__content_size">
                            <input type="hidden" class="product-option-input" name="size" value="M">
                            <div class="option-content">
                                <% const sizes = [
                                    {value: 'S', active: false},
                                    {value: 'M', active: true},
                                    {value: 'L', active: false},
                                ] %>
                                <% sizes.forEach(function(size) { %>
                                    <div class="option-content__item" data-type="size" data-value="<%=size.value %>">
                                        <div class="option <% if (size.active) {%> option_click <% } %> ">
                                            <span class="option__showcase">
                                                <%=size.value %>
                                            </span>
                                        </div>
                                    </div>
                                <% }); %>
                            </div>
                        </div>
                        <p class="product-option__heading">Цвет</p>
                        <div class="product-option__content product-option__content_color">
                            <input type="hidden" class="product-option-input" name="color" value="white">
                            <div class="option-content">
                                <% const colors = [
                                    {value: 'white', active: true, colorCode: '#fffafb', src:'img/tshirts/tshirt_white.jpg'},
                                    {value: 'yellow', active: false, colorCode: '#e3d95e', src:'img/tshirts/tshirt_yellow.jpg' },
                                    {value: 'green', active: false, colorCode: '#a5af96', src:'img/tshirts/tshirt_green.jpg'},
                                ] %>
                                <% colors.forEach(function(color) { %>
                                <div class="option-content__item" data-type="color" data-value="<%=color.value %>"
                                     data-src="<%=color.src%>">
                                    <div class="option <% if (color.active) {%>option_click<% } %>" style="background-color: <%=color.colorCode %>;">
                                        <span class="option__showcase"></span>
                                    </div>
                                </div>
                                <% }); %>
                            </div>
                        </div>

                    </div>
                    <div class="button">
                        <button class="button__buy">
                            Купить
                        </button>
                    </div>
                </form>
                <div class="about-product__choice">
                    <div class="buy-later">
                        <img class="buy-later__img" src="img/icons/like.png">
                        <a href="#" class="buy-later__text">Отложить на потом</a>

                    </div>
                </div>

            </div>
        </div>

    </div>
</div>


<div class="page__footer">
    <div class="footer">
        <div class="footer__top">
            <div class="footer-content wrapper">
                <div class="footer-content__link">
                    <div class="footer-content__item">
                        <div class="footer-menu footer-support">
                            <span class="footer-menu__header">Сервис и поддержка</span>
                            <div class="footer-menu__service">
                                <div class="footer-link link-support">
                                    <% const footer_Service = ['Как сделать заказ',
                                        'Возврат товара', 'Публичная оферта', 'Доставка',
                                        'Способы оплаты', 'Правила продажи', 'Возврат денежных средств',
                                        'Вопросы и ответы'] %>
                                    <% footer_Service.forEach(function(link) { %>
                                        <a href="#" class="footer-link__link"><%= link %></a>
                                    <% }); %>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="footer-content__item">

                        <div class="footer-menu">
                            <span class="footer-menu__header footer-menu__header__company">О компании</span>
                            <div class="footer-menu__service">
                                <div class="footer-link">
                                    <% const footer_Company = ['О нас',
                                        'Контакты', 'Вакансии', 'Партнеры',
                                        'Сертификаты', 'Преимущества', 'Наши скидки'] %>
                                    <% footer_Company.forEach(function(link) { %>
                                    <a href="#" class="footer-link__link">
                                        <%= link %></a>
                                    <% }); %>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>


                <div class="footer-content__info">
                    <div class="footer-content__item ">
                        <div class="footer-info footer-promo">
                            <div class="footer-info__item">
                                <div class="info-block">
                                    <img class="info-block__image" src="img/icons/delivery.svg" alt="delivery"
                                         style="width: 44px; height: 25px;">
                                    <p class="info-block__text">бесплатная доставка от 4000 ₽</p>
                                </div>
                            </div>
                            <div class="footer-info__item">
                                <div class="info-block">
                                    <img class="info-block__image" src="img/icons/heart.svg" alt="heart"
                                         style="width: 44px; height: 25px;">
                                    <p class="info-block__text">пробники в подарок при каждой покупке</p>
                                </div>
                            </div>
                            <div class="footer-info__item">
                                <div class="info-block">
                                    <img class="info-block__image" src="img/icons/cup.svg" alt="cup"
                                         style="width: 44px; height: 25px;">
                                    <p class="info-block__text">акции и подарки за покупку</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="footer-content__item ">
                        <div class="footer-social">
                            <img class="footer-social__item" src="img/icons/facebook.svg" alt="Facebook"
                                 style="width: 28px; height: 25px;">
                            <img class=" footer-social__item" src="img/icons/twitter.svg" alt="Twitter"
                                 style="width: 28px; height: 25px;">
                            <img class="footer-social__item" src="img/icons/instagram.svg" alt="Instagram"
                                 style="width: 28px; height: 25px;">
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div class="footer__copyright">
            <div class="copyright wrapper">
                <p class="copyright__item">2005-2017 © 7h35h0p.ru — модный интернет-магазин одежды, обуви и
                    аксессуаров</p>
                <p class="copyright__item">Все права защищены. Доставка по всей России!</p>
            </div>
        </div>
    </div>
</div>

<script src="js/scripts.js"></script>
</body>

</html>



